body {
    margin: 0;
}

img {
    max-width: 42%;
}

header {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-family: 'ABeeZee', sans-serif;
}

.social-media-links {
    max-width: 75%;
}

/* unvisited link */
a:link {
    text-decoration: none;
    color: black;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: black;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    color: black;
}

/* selected link */
a:active {
    text-decoration: none;
    color: black;
}